.git
build
.cache
.idea
.vs
assets
cppmods
docs
docs-export
docs-repo-template
UE4SS/*
!UE4SS/generated_src
UE4SS/generated_src/*
!UE4SS/generated_src/version.cache
UVTD
tools
deps/third
deps/first/*
!deps/first/patternsleuth
!deps/first/patternsleuth/**
!deps/first/patternsleuth_bind
!deps/first/patternsleuth_bind/**
!deps/first/ASMHelper
!deps/first/ASMHelper/**
!deps/first/Constructs
!deps/first/Constructs/**
!deps/first/DynamicOutput
!deps/first/DynamicOutput/**
!deps/first/File
!deps/first/File/**
!deps/first/Function
!deps/first/Function/**
!deps/first/Helpers
!deps/first/Helpers/**
!deps/first/Input
!deps/first/Input/**
!deps/first/LuaRaw
!deps/first/LuaRaw/**
!deps/first/SinglePassSigScanner
!deps/first/SinglePassSigScanner/**
!deps/first/String
!deps/first/String/**
!deps/first/Unreal
!deps/first/Unreal/**
