[submodule "Dependencies/Unreal"]
	path = Dependencies/Unreal
	url = git@github.com:Re-UE4SS/UEPseudo.git
	branch = main
[submodule "Dependencies/PolyHook_2_0"]
	path = Dependencies/PolyHook_2_0
	url = git@github.com:UE4SS-RE/PolyHook_2_0.git
	branch = main
[submodule "Dependencies/fmt"]
	path = Dependencies/fmt
	url = git@github.com:fmtlib/fmt.git
	branch = master
[submodule "Dependencies/zydis"]
	path = Dependencies/zydis
	url = git@github.com:zyantific/zydis.git
