function Register()
    return "8 B/5 1/0 4/8 5/D 2/7 4/5 A/4 8/6 3/0 1/8 5/C 0/7 8/5 3/4 4/8 B/? ?/? ?/? ?/? ?/? ?/4 1/3 B/C 0/7 D/4 7/4 C/8 B"
end

function OnMatchFound(matchAddress)
    local movInstr = matchAddress + 0x1A
    local nextInstr = movInstr + 0x7
    local offset = movInstr + 0x3
    local dataMoved = nextInstr + DerefToInt32(offset) - 0x10
    
    return dataMoved
end