<div id="version-warning" class="warning">
    You are viewing the <strong>#{REF_NAME}#</strong> version of the UE4SS documentation.
    The API and features are subject to change at any time.
    If you are developing mods for the latest version of UE4SS, you should reference the <a id="redirect-url" href="#{REDIRECT_URL}#/{{path}}">latest release docs</a> instead.
</div>